<ion-view title="Contato" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Mensagem</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="contato-button1" class="button button-positive  button-block icon-left ion-android-send">Enviar</button>
    </ion-content>
</ion-view>