<ion-view title="Músicas + Tocadas" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Monster</h2>
                <p>Eminem</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nome da Música</h2>
                <p>Artista</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nome da Música</h2>
                <p>Artista</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nome da Música</h2>
                <p>Artista</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nome da Música</h2>
                <p>Artista</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nome da Música</h2>
                <p>Artista</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>