<ion-view title="Online" id="page2">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <ion-list>
                <ion-item nav-clear="" menu-close="" rg-click="player()">Play</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>